<!-- 31-03-2025 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../templates/layouts/topMenu/menu.js"></script>

    <link rel="stylesheet" href="../static/css/style.css">
    <script defer src="../static/js/register.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- <script src="sweetalert2.min.js"></script> -->
    <!-- <link rel="stylesheet" href="sweetalert2.min.css"> -->

    <title>Document</title>
</head>
<style>

</style>

<body>
    <div topMenu="../templates/layouts/topMenu/TopMenu.html"></div>
    <script>includeTopMenuHTMLAjax()</script>

    <!-- Essa é a pagina de criação de guias " -->
    " Essa é a pagina de criação de guias "
</body>

</html>