<!-- Guilherme Andrade Camikado 01-Dezembro 2024 -->
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../templates/layouts/topMenu/menu.js"></script>
</head>

<body id="mainBody">
    <div topMenu="../templates/layouts/topMenu/TopMenu.html"></div>
    <script>includeTopMenuHTMLAjax()</script>
    <p>test</p>
</body>

</html>