<!-- 31-03-2025 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Scripts que são arquivos estáticos seus devem estar dentro da pasta /static -->
    <script src="{{ url_for('static', filename='layouts/topMenu/menu.js') }}"></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>

    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</head>
<style>

</style>

<body>
    {% include "layouts/topMenu/TopMenu.html" %}

    <!-- Essa é a página de login ela deve ter campos sendo eles "Usuário, Senha, Lembrar de mim ao lado do lembrar de mim deve-se ter um simbolo ? que ao passar em cima mostra para que o lembrar de mim serve. Outro botão com "Esqueci a senha" e "Esqueci usuário". " -->

    <div id="loginController" class="loginController">
        <div class="loginController_inside">
            <form action="POST" id="formLogin" onsubmit="submitLogin(event)">
                <div class="login_and_password">
                    <p>
                    <h2>Bem-Vindo(a) ao PullType</h2>
                    <div class="input-group">
                        <input required="" type="text" name="text" autocomplete="off" class="input">
                        <label class="user-label">Usuário ou Email</label>
                        <img src="{{ url_for('static', filename='images/mail.png')}}" class="passwordHideShow"
                            id="showHideIcon">

                    </div>
                    </p>
                </div>

                <div class="login_and_Password">
                    <p>
                    <div class="input-group">
                        <div>
                            <input required="" type="password" name="text" autocomplete="on" class="input"
                                id="showHideInput">
                            <label class="user-label">Senha</label>

                            <img id="showHideIcon" src="{{ url_for('static', filename='images/hide.png') }}"
                                class="passwordHideShow"
                                data-show-src="{{ url_for('static', filename='images/show.png') }}"
                                data-hide-src="{{ url_for('static', filename='images/hide.png') }}"
                                alt="Toggle password visibility">
                        </div>
                    </div>
                    </p>
                </div>


                <div>
                    <div class="lembrar_de_mim">
                        <p>
                            <input type="checkbox" class="form-control" id="checkbox_input_camp">Lembrar a próxima vez
                            em que acessar este site
                        </p>
                    </div>
                    <div>
                        <button class="EntrarButton" type="submit"> Entrar </button>
                    </div>
                    <div>
                        <button class="gsi-material-button">
                            <div class="gsi-material-button-state"></div>
                            <div class="gsi-material-button-content-wrapper">
                                <div class="gsi-material-button-icon">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" style="display: block;">
                                        <path fill="#EA4335"
                                            d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z">
                                        </path>
                                        <path fill="#4285F4"
                                            d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z">
                                        </path>
                                        <path fill="#FBBC05"
                                            d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z">
                                        </path>
                                        <path fill="#34A853"
                                            d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z">
                                        </path>
                                        <path fill="none" d="M0 0h48v48H0z"></path>
                                    </svg>
                                </div>
                                <span class="gsi-material-button-contents">Sign in with Google</span>
                                <span style="display: none;">Sign in with Google</span>
                            </div>
                        </button>
                    </div>
                </div>
            </form>
            <div class="ainda_nao_possui_conta">
                <p>Ainda não está no pullType? Crie uma conta <a href="register">Clicando Aqui</a>!</p>
                <p>Ler Termos de serviço <a href="">Aqui</a>!</p>
            </div>
        </div>
    </div>
</body>

</html>