<!-- Guilherme Andrade Camikado 01-Dezembro 2024 -->

<!-- É bom lembrar que essa página sempre que for carregada deverá mostrar fotos distintas de usuários distintos com base na URL sendo ela: -->
<!-- profile/[username]/[itens] -->
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css')}}">
    <script src="{{ url_for('static', filename='layouts/topMenu/menu.js') }}"></script>
</head>

<body id="mainBody">
    <!-- WIP fazer layout para "Logado" -->
    {% include "layouts/topMenu/TopMenu.html" %}
    <div class="user_general">
        <!-- MENU WIP -->
        <div>
        </div>

        <div class="profile_picture">
            <img src="{{ url_for('static', filename=profilePicture) }}" alt="Foto do perfil">
        </div>

        <div class="user_username">
            <h1>"{{profile_data.username}}"</h1>
        </div>
        <div class="user_userProfile">
            <p><b><i>@{{profile_data.username}}</i></b></p>
        </div>

        <div class="user_buttons">
            <button>Seguir | Editar</button>
            <button>Compartilhar</button>
        </div>

        <div class="user_bio">
            <p>
                {{ profile_data.bio.replace('\n', '<br>') | safe }}
            </p>
        </div>

        <!-- Para futuros guias -->
        <div class="user_guides" id="blocos">
            <div class="user_guides_addIcon">
                <img src="{{ url_for('static', filename='images/addIcon.png')}}" alt="" srcset="">
            </div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

    </div>
</body>

</html>