<!-- 31-03-2025 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='layouts/topMenu/menu.js')}}"></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/register.css')}}">

    <script defer src="{{ url_for('static',filename='js/register.js')}}"></script>
    <title>Document</title>
</head>
<style>

</style>

<body>
    {% include "layouts/topMenuLogin/TopMenu.html" %}

    <!-- Essa é a página de Registro. " -->
    <div id="loginController" class="loginController">
        <div class="loginController_inside">
            <div class="loginController_inside-welcome">
                <img src="" alt="PullTypeIcon">
                <h2>Bem-vindo(a) ao PullType</h2>
                <p>Crie e explore guias feitos para você</p>
            </div>

            <form onsubmit="submitRegistration(event)">
                <div class="login_and_password">
                    <div class="input-group-register">
                        <input required="" type="text" name="text" autocomplete="off" class="input">
                        <label class="user-label"><b class="input-group-register-must-write">*</b> Usuário</label>
                    </div>

                    <div class="input-group-register">
                        <input required="" type="email" name="text" autocomplete="off" class="input">
                        <label class="user-label"><b class="input-group-register-must-write">*</b> Email</label>
                    </div>

                    <div class="input-group-register">
                        <input required="" type="text" name="text" autocomplete="off" class="input">
                        <label class="user-label"><b class="input-group-register-must-write">*</b> Nome</label>
                    </div>

                    <div class="input-group-register">
                        <input required="" type="text" name="text" autocomplete="off" class="input">
                        <label class="user-label"><b class="input-group-register-must-write">*</b> Sobrenome</label>
                    </div>


                    <div class="input-group-register">
                        <input required="" type="password" name="text" autocomplete="off" class="input" id="password">
                        <label class="user-label"><b class="input-group-register-must-write">*</b> Senha</label>
                    </div>

                    <div class="input-group-register">
                        <input required="" type="password" name="text" autocomplete="off" class="input"
                            id="password-confirmation">
                        <label class="user-label" id="password-confirmation"><b
                                class="input-group-register-must-write">*</b> Confirmação de senha</label>
                    </div>

                    <div class="input-group-register">
                        <div></div>
                        <input required="" type="date" name="text" autocomplete="off" class="input">
                    </div>

                    <div class="input-group-terms">
                        <input type="checkbox" name="" id="read-and-accepted"> Li e aceito os <a href="">termos de uso e
                            serviço</a>.
                    </div>

                    <div class="input-group-register-create">
                        <button type="submit" class="EntrarButton">Criar Conta</button>
                    </div>
                    <div class="login_and_Password" id="register-camp">
            </form>
            <p class="ainda_nao_possui_conta">Já possuí uma conta? <a href="..">Clique aqui!</a></p>
        </div>
    </div>
    </div>
</body>

</html>