<!-- data_inicio 03-03-2025 -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body id="layouts_sideMenu" class="layouts_sideMenu">

    <div id="layouts_sideMenu_div_button" class="layouts_sideMenu_div_button">
        <p>☰</p>
    </div>

    <div id="layouts_sideMenu_div" class="layouts_sideMenu_div">
        <li>TEST</li>
        <li>TEST1</li>
        <li>TEST2</li>
        <li>TEST3</li>
    </div>
</body>
</html>