body{
    background-color: #363636;
    color: white;
    font-size: 18px;
}

.loginController {
    margin-top: 1vw;
    display: flex;
    justify-content: center;
}

.loginController_inside {
    padding: 3vw;
    background-color: #212121;
    border-radius: 2.5%;
}

.loginController_inside-welcome{
    text-align: center;
}

.input-group-register {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.input-group-register-date{
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.input-group-register-create {
    margin-top: 15px;
    margin-bottom: 10px;
    position: relative;
}

.input-group-register-must-write {
    color: rgb(94, 94, 94);
}

.input {
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 28em;
}

/* Customize the date input appearance */
.input::-webkit-calendar-picker-indicator {
    background-color: #4a90e2;  /* Custom color for the calendar icon */
    border-radius: 4px;  /* Rounds the calendar icon */
    cursor: pointer;  /* Adds pointer cursor */
}

/* For Firefox */
.input::-moz-calendar-picker-indicator {
    background-color: #4a90e2;  /* Custom color for the calendar icon */
    border-radius: 4px;
    cursor: pointer;
}

.user-label {
    position: absolute;
    left: 1em;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    width: auto;
}

.user-label-date {
    position: absolute;
    left: 1em;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    width:fit-content;
}

.input:focus,
input:valid {
    outline: none;
    border: 1.5px solid #1a73e8;
}

.input:focus~label,
input:valid~label {
    transform: translateY(-50%) scale(0.8);
    background-color: #212121;
    padding: 0 .2em;
    color: #2196f3;
}

.ainda_nao_possui_conta {
    font-size: 0.8rem;
}

.form-control {
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

.lembrar_de_mim {
    font-size: 0.8rem;
}

.EntrarButton {
    --primary-color: #e71c1c;
    --secondary-color: #fff;
    --hover-color: #c41b1b;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 2.5%;
    background: var(--primary-color);
    transition: 0.1s background;
    font-weight: bold;
    margin-bottom: 0.5vw;
    width: 35em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.EntrarButton .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}

.EntrarButton:hover {
    background-color: var(--hover-color);
}

.EntrarButton:hover .arrow {
    background: var(--secondary-color);
}

.EntrarButton:hover .arrow:before {
    right: 0;
}

.gsi-material-button {
    background-color: WHITE;
    background-image: none;
    border: 1px solid #747775;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1f1f1f;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    width: 34em;
    min-width: min-content;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.gsi-material-button .gsi-material-button-icon {
    height: 20px;
    margin-right: 12px;
    min-width: 20px;
    width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
    -webkit-transition: opacity .218s;
    transition: opacity .218s;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.gsi-material-button:disabled {
    cursor: default;
    background-color: #ffffff61;
    border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
    opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
    opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state,
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
    background-color: #303030;
    opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
    background-color: #303030;
    opacity: 8%;
}

.login_and_password {
    resize: 30em;
}

.passwordHideShow {
    width: 1.5em;
    filter: invert(85%)
}

/* Post registe */
.post_register_message{
    color: white;
    text-align: center;
    background-color: #1b1b1b;
}