<!--

- Quando se tira a seta de um dos itens do tipo Link no topo da tabla eles ficam quadrados oque é quase inotavel porém é feio 
- Fazer uma lógica para o botão Login aparecer com a div e sumir caso click fora
- Fazer a área de registro
- Fazer um eventListenerClick para adicionar lógica a página inteia (EM JS)
- Uma ideia interessante seria a de adicionar uma div transparente na interidade da página em baixo da div de login/Register.
- As caixas de logon e registro devem ter um zindex + 1

-->

<body id=#TopMenu>

  <head>
    <title>PullType</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='layouts/topMenu/topNavegationBar.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
  </head>
  <!-- <link rel="stylesheet" href="../layouts/topMenu/topNavegationBar.css"> -->

  <div class="navbar">
    <div class="logo" id="logo" onclick="goToMainPage()">
      <img src="{{ url_for('static', filename='images/pullTypeLogo.png')}}" alt="ToMainPage">
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </div>
    <nav>

      <a href="createGuide" id="buttonCreate">Criar</a>
      <a href="#guides" id="buttonGuias">Guias</a>
      <a href="#statistics" id="buttonStatistics">Estatisticas</a>

      <!-- WIP Linkar com o javaScript uma função que fecha qualquer aba aberta (Preferencialmente o botão Login e Register) -->

      <div class="search-bar">
        <input type="text" placeholder="Pesquisar...">
      </div>
      <a href="sobre_nos.html">Sobre nós</a>

    </nav>
    <div class="buttons">
      <img src="{{ url_for('static', filename=userAssets.profilePicture) }}" alt="Profile">
    </div>
  </div>
  <script>includeTopMenuHTMLAjax()</script>
</body>