body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar img {
  align-items: center;
  justify-content: space-between;
  background-color: #1b1b1b;
  color: white;
  max-width: 40px;
  border-radius: 50%;
}
.navbar img:hover {
  align-items: center;
  justify-content: space-between;
  background-color: #1b1b1b;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.4;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1b1b1b;
  padding: 0 0;
  color: white;
}
.logo{
  cursor: pointer;
}
/* WIP */
.navbar .logo img {
  height: 40px;
}

.navbar nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar nav a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.navbar nav a:hover {
  background-color: #363636;
  border-radius: 5px;
}

.navbar .search-bar {
  display: flex;
  align-items: center;
  gap: 5px;
}

.register-popup .loginCheckBox {
  display: inline;
  margin-top: 10px;
}