<!--

- Quando se tira a seta de um dos itens do tipo Link no topo da tabla eles ficam quadrados oque é quase inotavel porém é feio 
- Fazer uma lógica para o botão Login aparecer com a div e sumir caso click fora
- Fazer a área de registro
- Fazer um eventListenerClick para adicionar lógica a página inteia (EM JS)
- Uma ideia interessante seria a de adicionar uma div transparente na interidade da página em baixo da div de login/Register.
- As caixas de logon e registro devem ter um zindex + 1

-->

<body id=#TopMenu>

  <head>
    <title>PullType</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='layouts/topMenuLogin/topNavegationBar.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
  </head>
  <!-- <link rel="stylesheet" href="../layouts/topMenu/topNavegationBar.css"> -->

  <script>includeTopMenuHTMLAjax()</script>
</body>